<!DOCTYPE html>
<html>
    <head>
        <title>Bowling Alley</title>
    </head>
    <body>
        <% date = Date.today.strftime("%A, %B %d, %Y") %>
        <p><%= "The date is " + date%></p>
    </body>
</html>
